<!-- Si href existe => <a> -->
<a
  *ngIf="href; else asButton"
  [href]="href"
  [attr.aria-label]="ariaLabel"
  [attr.target]="target"
  [attr.rel]="rel"
  [class]="classes"
>
  <i [class]="iconClass + ' ' + iconSizeClass + ' ' + iconExtraClass"></i>
</a>

<!-- Sinon => <button> -->
<ng-template #asButton>
  <button
    type="button"
    [attr.aria-label]="ariaLabel"
    [disabled]="disabled"
    [class]="classes"
    (click)="onClick()"
  >
    <i [class]="iconClass + ' ' + iconSizeClass + ' ' + iconExtraClass"></i>
  </button>
</ng-template>